<h1>Element</h1>
<%= image_tag(@element.image) if @element.image.present? %>
<p><strong>ID: </strong><%= @element.id %></p>
<p><strong>Nome: </strong><%= @element.name %></p>
<%= link_to "voltar", elements_path %>
